@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Krona+One|Roboto');
@import 'font-awesome';


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4d4 #bebebd #bebebd #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.carousel{
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img{
  max-height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0,0,0, 0.95) 2px 2px;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.navbar .navbar-inverse {
  background: image_url('zig_zag.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'Krona One', sans-serif;
}

.pagination {
  margin: auto;
}

.pagination a{
  margin-left: 2px;
  margin-right: 2px;
}

.help-block{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.place-details{
  flex: 1 0 auto;
}

.place-photo{
  border-radius: 25px;
  flex: 0 1 auto;
  position: relative;
}

.place-photo img{
  border-radius: 10px;
}

.clear{
  clear: both;
}

.photo-holder{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  text-align: center;
}

.photo-holder img{
  width: 200px;
  height: 200px;
}

.photo-holder figcaption{
  width: 200px;
}

body {
  background: image_url('dust_scratches.png');
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#map{
  height: 300px;
}

#place_photo{
  display: block;
}
