<h1>Welcome!</h1>
<!-- <%= @places.inspect %> lists out all places-->
<hr />
<% @places.each do |place| %>
  <div>
    <p><%= place.name %></p><br />
    <p><%= place.address %></p><br />
    <p><%= place.description %></p><br />
  </div>
  <hr />
<% end %>
